/* Estilo general */
.root {
    -fx-background-color: linear-gradient(to bottom, #1E3A8A, #3B82F6);
}

/* Estilo de los botones */
.button {
    -fx-background-color: #2563EB;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-padding: 10 20;
    -fx-border-color: #1E40AF;
    -fx-border-width: 2px;
    -fx-border-radius: 10;
}

.button:hover {
    -fx-background-color: #1D4ED8;
}

.button:pressed {
    -fx-background-color: #1E3A8A;
}

/* Imagen centrada con sombra */
.image-view {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.2, 0, 3);
}