/* Estilo para el fondo de la ventana */
.root {
    -fx-background-color: linear-gradient(to bottom, #2196F3, #FFEB3B); /* Fondo degradado de amarillo a azul */
}

/* Estilo del texto de bienvenida */
.text {
    -fx-font-family: "Roboto", sans-serif; /* Fuente moderna y bonita */
    -fx-font-size: 30px; /* Mayor tamano de fuente */
    -fx-font-weight: bold; /* Texto en negrita */
    -fx-fill: white; /* Color de texto blanco para mayor contraste */
    -fx-text-alignment: center;
    -fx-wrapping-width: 240px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 0, 3); /* Sombra suave para resaltar el texto */
    -fx-padding: 10 0 10 0; /* Espaciado superior e inferior */
}

/* Estilo del boton */
.button {
    -fx-background-color: #FFC107; /* Fondo del boton amarillo */
    -fx-text-fill: white; /* Texto blanco */
    -fx-font-family: "Roboto", sans-serif; /* Fuente moderna */
    -fx-font-size: 12px; /* Tamaño de fuente ajustado */
    -fx-font-weight: bold;
    -fx-border-radius: 8px; /* Bordes más redondeados pero pequeños */
    -fx-background-radius: 8px; /* Bordes más redondeados */
    -fx-padding: 4 10; /* Menos espacio interno para hacerlo más fino */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 8, 0, 0, 5); /* Sombra suave */
    -fx-transition: background-color 0.3s ease-in-out; /* Transición suave al pasar el mouse */
}

.button:hover {
    -fx-background-color: #FF9800; /* Color más oscuro al pasar el ratón */
}

.button:pressed {
    -fx-background-color: #F57C00; /* Color aún más oscuro cuando el botón está presionado */
}
